{% extends 'base.html' %}


{% block navbar %}

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}"><span style="font-family: 'Bevan';color: white;font-size: 24px;">WoW</span><span style="font-family: 'Bevan';color: #FFBF00;font-size: 24px;">Clearance</span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" style="margin-right: 75px;"></a></i></li>
            <li><a href="{% url 'home' %}" style="margin-right: 100px;color: white;">Home</a></li>
            <!-- <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li> --> 
          </ul>
          <form class="navbar-form navbar-right" style="margin-right: 175px;" role="search" action='/s/'>
            <input type="text" class="form-control" name='q' placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>


{% endblock %}


{% block sidebar %}

<div class="container">

        <!-- <div class="row"> -->

                          <div class="col-md-3" style="margin-left: -120px;float: left;">
                 <p class="lead" style="font-family:  'Roboto', sans-serif;margin-top: 35px;">Clearance by Brands</p>
                 <div class="list-group">
                    
                    {% for brand in brands %}

                    <a href="{{brand.url}}" class="list-group-item" class="masterTooltip" title="{{brand.description}} " style="
                    font-family: 'Roboto', sans-serif;">{{brand.title}}</a>



                    {% endfor %}
                    

                </div>
            </div>

<!-- </div> -->
</div>


{% endblock %}


{% block content %}

<div class="container" style="margin-top: -50px;clear: both;float: right;">


               <div class="row" style="margin-top: 50px;">

                                  {% for product in products %}

                    <div class="col-md-4">
                        <div class="pc-card-area" style="margin-bottom: 40px;">
                          <a href="{{product.brand_url}}" class="pc-card-category">
                            <span class="i-icon i-glyph-icon-22-community"></span>
                            <span style="font-family: 'Roboto', sans-serif;">{{product.brand}}</span>
                        </a>  <a href="{{product.product_url}}" class="pc-card pc-card-condensed" style="border-radius: 5px; width: 230px;">
                        <span class="">
                          <img alt="{{product.title}}" src="{{product.image}}" style="width: 227px;height: 327px;">
                         
                          <span class="pc-card-title" <span class="pc-card-title" style="height: 27px;font-family: 'Roboto', sans-serif;padding: 10px;">{{product.title}}</span>
                      </span>
                      <hr>


                     
                      <div style="margin-top: -10px;"><span style="font-family: 'Roboto', sans-serif;font-size: 17px; color: #FFBF00;padding-left: 10px;"> Clearance </span><span style="color: red;"><i class="fa fa-tag"></i></span><span style="padding-left: 10px;font-family: 'Roboto', sans-serif;color: brown;"></span><span style="padding-left: 2px;font-family: 'Roboto', sans-serif;color: brown;">{{product.clearance}}</span><span style="font-family: 'Roboto', sans-serif;color: brown;"><em> CAD</em></span></div>
                      <div><span style="font-family: 'Roboto', sans-serif; color: black;font-size: 16px;padding-left: 10px; text-decoration: line-through"> Price </span> <span style="padding-left: 65px;font-family: 'Roboto', sans-serif;color: black;"></span><span style="padding-left: 3px;font-family: 'Roboto', sans-serif;color: black; text-decoration: line-through">{{product.price}}</span><span style="font-family: 'Roboto', sans-serif;padding-left: 3px;color: black; text-decoration: line-through"><em> CAD</em></span></div>

                    </a></div>
                    </div>

                   
                        {% endfor %}

                </div>

                <div class="pagination">
                  <span class="step-links">
                    {% if products.has_previous %}
                    <a href="?page={{ products.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                      Page {{ products.number }} of {{ products.paginator.num_pages }}.
                    </span>

                    {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}">next</a>
                    {% endif %}
                  </span>
                </div>

              </div>


{% endblock %}